/* _____CALENDARIO_____*/
.sapUiCal {
    width: 45rem;
}
.sapUiCalMonthView,
.sapUiCalMonthPicker,
.sapUiCalYearPicker {
    width: 45rem !important;
}
.sapUiCalHeadB.sapUiCalHeadB1,
.sapUiCalHeadB.sapUiCalHeadB2 {
    font-size: 24px;
}
.sapUiCalWH,
.sapUiCalDay,
.sapUiCalWeekNum,
.sapUiCalMonth,
.sapUiCalYear {
    font-size: 0.95rem !important;
}
.sapUiCalContent>.sapUiCalMonthPicker,
.sapUiCalContent>.sapUiCalYearPicker {
    margin-left: 0 !important;
    left: 2rem !important;
}
.sapUiCalHeadB1 {
    width: 8.5rem !important;
}
.sapUiCalDay.sapUiCalDayType06.sapUiCalWDay3 {
    height: 5px;
}
.sapUiCalDayToday>.sapUiCalDayNum {
    /*colore riquadro del giorno corrente */
    /*border: none !important;*/
    border: 0.125rem solid #ab218e;
}
.visible {
    visibility: hidden !important;
}

/*eliminare le regole per aggiungere i numeri delle settimane*/

.sapUiCal .sapUiCalMonthView,
.sapUiCal .sapUiCalDatesRow {
    margin-left: -4rem !important;
}
.sapUiCalWeekNum {
    visibility: hidden !important;
}
/****************************/


#calendarId--idCalendarPage-cont {
    background-color: #FFFFFF !important;
}

.sfondoCal {
    background-color: #F9F9F9 !important;
}
.abbassaLabel {
    margin-top: 1rem;
}
.spostaDx {
    margin-left: 1rem;
}

/********************/


/*Riello*/

.sapMTileContent{
    background-color: white;
    border-style: solid;
}

.sapMTileContent:active {
  background-color: gray;
}


/*
#soLaunchpadId--SOtiles-soLaunchpadId--container-0-img{
    width: 10rem !important;
    height: 4rem !important;
    margin-top: 3rem;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-1-img{
    width: 10rem !important;
    height: 4rem !important;
    margin-top: 3rem;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-0-title{
    margin-top: 4rem;
    align-items: center;
    text-align: center;
    color: forestgreen !important;
}

#soLaunchpadId--SOtiles-soLaunchpadId--container-1-title{
    margin-top: 4rem;
    align-items: center;
    text-align: center;
}
*/

.iconColumns {
  width: 2.75rem;
}

/*
#splitApp-Master {
  border-right-style: solid;
  border-right-color: #CC1919 !important;
}
*/

#changePasswordId--linkChangePass {
  width: 100%;
  margin-left: 45%;
}

.sapMShellBrandingBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  background-color: black !important;
}


/* freccia delle select di colore rosso */

/*
.sapMComboBoxBasePressed .sapMComboBoxBaseArrow,
.sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
  background: #CC1919 !important;
}
*/


/* selected item colore grigio */

.sapMSelectListItemBaseSelected {
  background: rgba(33, 26, 28, 0.12);
}


/*login più basso*/

#loginId--loginFlexBoxId {
  margin-top: 15rem;
  height: 15em;
}


/*
.sapMNavItem {
  background-color: white !important;
  background: url("../img/back.png") center bottom no-repeat;
  background-size:contain;

}
*/
.pageSlide {
    background: url("../img/pellini/sfondoNoHeader.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        background-size: 80% 95%;
        background-position: 50% 50px;
        background-color: white !important;
}


.pageClass {
/*
  background-color: white !important;
  background: url("../img/pellini/sfondoMod.png") bottom no-repeat;
  background-size: cover;
*/
/*  background: url("../img/pellini/sfondoMod.png") no-repeat center center fixed;*/
  background: url("../img/pellini/sfondo.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        background-size: 80% 95%;
        background-position: 50% 50px;
        background-color: white !important;
}

@media (max-width: 1280px) {
    .pageClass {
/*        background: url("../img/pellini/sfondoMod.png") no-repeat center center fixed;*/
        background: url("../img/pellini/sfondo.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        background-size: 100% 95%;
        background-position: 50% 50px;
        background-color: white !important;

        
    }
    .pageSlide {
    background: url("../img/pellini/sfondoNoHeader.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
        background-size: 100% 95%;
        background-position: 50% 50px;
        background-color: white !important;
}
}

.customBar{
    border-bottom: solid;
    border-bottom-color: black;
}

/*
.miaPagina {
  background-color: white !important;
  background: url("../img/logoRiello.png"), url("../img/sfondo_basso.png");
  background-position: left 50px, center bottom;
  background-repeat: no-repeat;
  background-size: initial, contain;
}
*/

#lv1Node{
 color: aqua;   
}

#lv2Node{
 color: deepskyblue;    
}

/*
#newCustomerId {
  background-color: white !important;
  background: url("../img/Sfondo_3.png") center bottom no-repeat;
  background-size: contain;
}

#orderListId {
  background-color: white !important;
  background: url("../img/Sfondo_3.png") center bottom no-repeat;
  background-size: contain;
}

#orderInfoId {
  background-color: white !important;
}

#productRODetailId--detailROPage {
  background-color: white !important;
}

#HistoryCartsDetailId--historyCartsPageId {
    background-color: white !important;
}
*/


/*
#launchpadId--container-scrl
{
  background-color: white !important;
  background: url("../img/Sfondo_.png") center bottom no-repeat;
}
*/

.sapUiGlobalBackgroundImage.sapUiGlobalBackgroundImageForce {
  display: block;
/*  background: url("../img/pellini/footerPellini.png");*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: lightgrey;
}

#changePasswordId--changePass-cont {
    background-color: white !important;
  background: url("../img/pellini/footerPellini.png") bottom no-repeat;
  background-size: contain;
/*
  background-color: white !important;
  background: url("../img/pellini/footerPellini.png") center no-repeat;
  background-size: contain;
*/
}

.sapUiVltCell {
  margin-left: 40px !important;
  margin-right: 2em !important;
}


/*
Font Master list Customer
*/


/*pagina del dettaglio ed edit*/


/*
#__page1-cont
{
  background-color: white  ;
}*/

/*
#emptyId {
  background-color: white !important;
}

#customerDetailId--detailPage-cont {
  background-color: white;
  background-image: url("../img/riello.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#customerEditId--editPage-cont {
  background-color: white;
  background-image: url("../img/riello.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#productDetailId {
  background-color: white !important;
}

#cartFullId {
  background-color: white !important;
}
*/


/*
.sapUiFormResGrid>div {
    margin-top: 5em;
    border-style: solid;
    border-color: #E72F27;
}
*/


/* Order Create */

/*
#orderCreateId--simpleform0--Form--Grid {
  background-color: white !important;
  margin-top: -1em;
  margin-bottom: -1.5em;
}

#orderCreateId {
  background-color: white;
}

.sapMITBSelected>.sapMITBContentArrow {
  border-bottom-color: #CC1919;
}

.sapMITBSelected .sapMITBFilterDefault {
  background: #CC1919;
  color: #ffffff;
}

.sapMITBFilterDefault {
  color: #CC1919;
}

.sapMITBFilterIcon {
  background: #ffffff;
  border: 1px solid #cc1919;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  -moz-border-radius: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 2.75rem;
  overflow: hidden;
  width: 3rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.sap-desktop .sapMIBar.sapMFooter-CTX {
  background-color: rgb(204, 25, 25);
}

.sapMIBar-CTX.sapMFooter-CTX {
  background-color: rgb(204, 25, 25) !important;
}

.sapMITBContent {
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  border-color: #CC1919;
  border-style: solid;
}
*/


/********************/

.formClass {
  background-color: black;
   border: solid;
    border-color: black;
}


.formClass .sapUiFormResGrid>div {
    background-color: black;
    padding: 1rem 0.75rem;
    -moz-box-sizing: padding-box;
    box-sizing: border-box;
}




/*
.sapUiFormResGrid>div {
  margin-top: 5em;
}
*/


/*
#__box0 {
  height: 8em;
}
*/

#cartFullId--prenoteSwitch {
  margin-left: 1em;
}

.progressIndicator{
  margin-left: 1em;  
}

.dichiarazioneCheckBox{
    margin-left: 1rem;
}



/*
#orderCreateId--simpleform0--Form--Grid {
  margin-top: -1em;
  margin-bottom: -1.5em;
}
*/

/*
#orderCreateId--hboxcustom0 {
  margin-bottom: -1.5em;
}
*/

/*
#__container2---Panel {
  margin-bottom: -0.5em;
}
*/

#orderCreateId--simpleform1--Form--title {
  margin-top: -0.8em;
  border: 0;
}

/*
#orderCreateId--hboxcustom1 {
  height: 80%;
}
*/

#orderCreateId--simpleform2--Form--title {
  height: 0px;
  /*
  border-left-style: inset;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-top-style: inset;
*/
  border: 0px;
}


/*
#orderCreateId--simpleform1--Form--Grid {
  padding-top: 0.1em;
  border-top-style: inset;
  border-left-style: inset;
  border-right-style: outset;
    border-bottom-style: inset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}

#orderCreateId--simpleform2--Form--Grid {
  padding-top: 0.1em;
  border-bottom-style: outset;
  border-top-style: outset;
  border-left-style: inset;
  border-right-style: outset;
  border-width: 0.3em;
  margin-left: 0.9em;
  margin-right: 0.9em;
}
*/


/*
#__page0-cont
{
    border-style:outset;
        padding: 1rem 0.75rem;
}
*/

.customIconTabBar {
  margin-left: 5em;
  margin-right: 5em;
  width: 80%;
}

.customObjectHeader {
  width: 100%;
  margin: 0px;
  padding: 2em;
  padding-top: 2em;
  text-align: center;
  background-color: #f4f0ff;
  border-bottom-style: groove;
  border-color: #0089FF;
}


/*#loginFlexBoxId {
  height: 15em;
}*/

.orderItemsForm {
  margin-bottom: 2em;
  margin-top: 2em;
}

.orderItemsFormCustomerView {
  margin-bottom: 1em;
  margin-top: 1em;
}

.confirmButton {

  margin-left: 35px !important;
}

/*
.requestAvailability {
  margin-right: 2em !important;
}
*/

.toolbarNoBorder {
  border-style: none;
  margin-right: 0.5em !important;
}


/*Mobile*/

/*
.sapMPageHeader::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  border-top: 0.25rem solid #CC1919;
  z-index: 7;
}
*/

.productRequestPanel .sapMPanelExpandableIcon {
  display: none !important;
}

.loginButton .sapMBtnContent{
    font-size: large;
}

span[data-statusColor="bloccato"] {
  background-color: red !important;
  color: white !important;
}

span[data-statusColor="chiuso"] {
  background-color: forestgreen!important;
  color: white !important;
}

.detailPage {
    background-color: white;
}

